{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
     <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'calendar' %}"> Get back to Calendar </a>
    </div>
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Time of receipt</th>
      <th scope="col">Full information</th>
    </tr>
  </thead>
  <tbody>
    {% for events in object_list %}
      <tr>
        <td scope="row">{{ events.patient.name }}</td>
        <td scope="row">{{ events.start_time.hour }}.{{ events.start_time.minute }}</td>
        <td scope="row"><a  href="{% url 'edit' events.id %}"> Full info about {{ events.patient.name }} </a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
