{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Event
{% endblock %}

{% block content %}





<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Calendar</a>
			<hr>
			<h3 style="text-align: center"> {{ event.patient.name }} medical record</h3>

		</div>
	</div>

<div class="w-75 p-3">
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    {{ event.start_time }}
  </button>
  <button type="button" class="list-group-item list-group-item-action">{{ event.title }}</button>
  <button type="button" class="list-group-item list-group-item-action">{{ event.description }}</button>

</div>
</div>
{% endblock %}
